<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="armazon" class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-look icon-gradient bg-mean-fruit"> </i>
                </div>
                <div>
                      inventario de Armaz&oacute;nes
                     <div class="page-title-subheading"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Listado de Armazones</h5>
           
                <div class="col-lg-12">
                               
                                        <div class="table-responsive">
                                            <table class="mb-0 table">
                                                <thead>
                                                <tr>
                                                    <th>Clave</th>
                                                    <th>Nombre</th>
                                                    <th>Tipo</th>
                                                    <th>Stock</th>
                                                    <th>Modelo</th>
                                                    <th>Color</th>
                                                    <th>Tamaño</th>
                                                    <th>Material</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                              
                                                </tbody>
                                            </table>
                                        </div>
                                 
                                </div>
                            </div>
           


        </div>
    </div>


</div>

</html>
