<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="mica" class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-glasses icon-gradient bg-mean-fruit"> </i>
<!--                     <i class="pe-7s-look icon-gradient bg-mean-fruit"> </i> -->
                    
                </div>
                <div>
                      Gesti&oacute;n de Micas
                     <div class="page-title-subheading"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="">
        <div class="row">
        	<div class="col-md-12">
            	<div id="accordion" class="accordion-wrapper mb-3">
                	<div class="card">
                    	<div id="headingOne" class="card-header">
                        	<button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block">
                            	<h5 class="m-0 p-0">Registro de Micas</h5>
                            </button>
                        </div>
                        <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse show">
                        	<div class="card-body">
                        		<div th:replace="commons/registraMica::modal-addMica">
								</div> 
                            </div>
                        </div>
                     </div>
                     <div class="card">
                     	<div id="headingTwo" class="b-radius-0 card-header">
                        	 <button type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="false" aria-controls="collapseTwo" class="text-left m-0 p-0 btn btn-link btn-block"><h5 class="m-0 p-0">Actualizacion/Eliminacion de Micas</h5></button>
                        </div>
                        <div data-parent="#accordion" id="collapseOne2" class="collapse">
                        	<div class="card-body">
                        		<div th:replace="fragments/components/tblMicas::tblArmazon">

            					</div>
                             </div>
                         </div>
                     </div>
                       <div class="card">
                       		<div id="headingThree" class="card-header">
                            	<button type="button" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="false" aria-controls="collapseThree" class="text-left m-0 p-0 btn btn-link btn-block"><h5 class="m-0 p-0">Micas Eliminadas</h5></button>
                            </div>
                            <div data-parent="#accordion" id="collapseOne3" class="collapse">
                            	<div class="card-body">
                                	<div th:replace="fragments/components/tblArmazon::tblArmazon">

            						</div>
                                </div>
                            </div>
                        </div>
                 </div>
              </div>
        </div>
 
    </div>
  </div>




</html>
