<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="modal-detalleIn(categoria)" class="app-main__inner">

    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title" th:text="${'Detalle ' + categoria}"></h5>
            <div class="form-row">
                <div class="row">
                    <div class="col-md-8 mb-12">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="button" data-izimodal-close=""
                    data-izimodal-transitionout="bounceOutDown">
                Cerrar
            </button>
        </div>
    </div>
</div>

</html>
