<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="modal-detalleIn(categoria)" class="app-main__inner">
	
	<div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${'Detalle ' + categoria}"></h5>
                                <div class="form-row">
                                	<div class="row">
                                		<div class="col-md-4 mb-6">
                     	            		<label for="detCodigo">C&oacute;digo:</label>
                                            <input type="text" class="form-control" id="detCodigo"  disabled="disabled">
                                         
                                 		</div>
                                 		<div class="col-md-4 mb-6">
                     	            		<label for="detCategoria" th:text="${categoria +':'}"></label>
                                            <input type="text" class="form-control" id="detCategoria"  disabled="disabled">
                                         
                                 		</div>
                                 		                                 		
                                 		<div class="col-md-4 mb-6">
                                       	     <label for="detMaterial">Material</label>
                                        	 <input type="text" class="form-control " id="detMaterial" disabled="disabled">
                                        </div>
                                 			
                                	</div>
                                	
                                	<br/>
                                	<div class="row">
                                		<div class="col-md-4 mb-4">
                     	            		<label for="detPrecioC">Precio Compra</label>
                                            <input type="text" class="form-control" id="detPrecioC"  disabled="disabled">
                                         
                                 		</div>
                                 		<div class="col-md-4 mb-4">
                     	            		<label for="detPrecioV">Precio Venta</label>
                                            <input type="text" class="form-control" id="detPrecioV"  disabled="disabled">
                                         
                                 		</div>
                                 		<div class="col-md-4 mb-3">
                                       	     <label for="detExistencia">Existencia</label>
                                        	 <input type="text" class="form-control " id="detExistencia" disabled="disabled">
                                        </div>
                                		
                                	</div>
                            	 
                              	</div>
                              
                                
                              <button class="btn btn-primary" type="button" data-izimodal-close="" data-izimodal-transitionout="bounceOutDown">
										Cerrar
                              </button>
            					
                             </div>
                             
		</div>
 </div>
	

</html>
