<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>


<div th:fragment="consultarPaciente" class="app-main__inner">
	<form class="needs-validation" novalidate action="#" th:action="@{/pacientes/consulta}" th:object="${consultaPaciente}" method="post" accept-charset="UTF-8">
		<div class="main-card mb-3 card">
        		<div class="card-body">
                	<h5 class="card-title">Consulta Pacientes</h5>
                    	
                        	<div class="form-row">
                            	
                                 <div class="col-md-4 mb-3">
                                 	<label for="nombre">Nombre</label>
                                    	<input type="text" style="text-transform: uppercase;" class="form-control" id="nombre" name="nombre" placeholder="nombre" required>
                                        	
                                 </div>
                                 <div class="col-md-4 mb-3">
                                 	<label for="modelo">Apellido Paterno</label>
                                    	<input type="text" style="text-transform: uppercase;" class="form-control" id="apPaterno" name="apPaterno" placeholder="Apellido Paterno" value="" required>
                                        	                                 </div>
                                 <div class="col-md-4 mb-3">
                                 	<label for="modelo">Apellido Materno</label>
                                    	<input type="text" style="text-transform: uppercase;" class="form-control" id="apMaterno" name="apMaterno" placeholder="Apellido Materno" required>
                                 </div>
                                                                  
                              </div>
                             
                                <div class="form-row">
                                	
                              		<div class="col-md-4 mb-3">
                                            <label for="precioCompra">Email</label>
                                            <div class="input-group">
                                                        <div class="input-group-prepend"><span class="input-group-text">@</span></div>
                                                        <input placeholder="email" type="text" class="form-control" id="email" name="email" required>
											</div>
                                                                                        
                                    </div>
                                    <div class="col-md-4 mb-3">
                                            <div class="position-relative form-group">
                                            	<label for="estatus" class="">Estatus</label>
                                            		<select type="select" id="estatus" name="estatus" class="custom-select">
                                                                <option value="">SELECCIONA UNA OPCI&Oacute;N</option>
                                                                <option value=1>ACTIVO</option>
                                                                <option value=0>INACTIVO</option>
                                                   </select>
                                            </div>
                                            
             						</div>
             						
             						<div class="col-md-4 mb-3">
             							
                                        <button type="submit"  class="btn-shadow mr-3 btn btn-primary">
                                        	<i class="fa fa-search fa-2x"> Buscar</i> 
                                        </button>   
                                            
             						</div>
             						
             						 
             						
                                </div>
                                                 
                            </div>
                 	</div>
                	
 	</form>
	</div>

</html>
