<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="modal-addMica" class="app-main__inner">
	
		<div class="main-card mb-3 card">
        		<div class="card-body">
                	<h5 class="card-title">Registrar Mica</h5>
                    	<form class="needs-validation" novalidate action="#" th:action="@{/catalogo/guardar/mica}" th:object="${mica}" method="post">
                        	<div class="form-row">
                            	
                                 <div class="col-md-4 mb-3">
                                 	<label for="nombre">Mica</label>
                                    	<input type="text" style="text-transform: uppercase;" class="form-control" id="nombre" name="nombre" placeholder="mica" value="" required>
                                        	<div class="valid-feedback">
                                                Clave v&aacute;lida
                                            </div>
                                        	<div class="invalid-feedback">
                                                La mica es requerida.
                                            </div>
                                 </div>
                                 <div class="col-md-4 mb-3">
                                 	<label for="modelo">Descripci&oacute;n</label>
                                    	<input type="text" style="text-transform: uppercase;" class="form-control" id="descripcion" name="descripcion" placeholder="descripcion" value="" required>
                                        	<div class="valid-feedback">
                                                Descripci&oacute;n valida
                                            </div>
                                        	<div class="invalid-feedback">
                                                Descripci&oacute;n requerida
                                            </div>
                                 </div>
                                 <div class="col-md-4 mb-3">
                                            <label for="material">Material</label>
                                            <select name="idMaterial" id="idMaterial" class="mb-2 form-control" required>
                                                        <option value="">SELECCIONE UNA OPCI&Oacute;N</option>
                                                        <option th:each="material : ${materiales}" th:value="${material.id}" th:text="${material.nombre}"></option>
                                            </select>
                                             
                                            <div class="invalid-feedback">
                                                El material es requerido
                                            </div>
                                 </div>
                                 
                              </div>
                             
                                <div class="form-row">
                                	
                              		<div class="col-md-4 mb-3">
                                            <label for="precioCompra">Precio</label>
                                            <input type="text" class="form-control" id="precioCompra" name="precio" placeholder="" required>
                                            <div class="valid-feedback">
                                               Precio valido
                                            </div>
                                        	<div class="invalid-feedback">
                                        	  Por favor ingrese un valor entero o decimal
                                            </div>
                                            
                                    </div>
                                    <div class="col-md-4 mb-3">
                                            <label for="precioVenta">Precio de Venta</label>
                                            <input type="text" class="form-control" id="precioVenta" name="precioVenta" placeholder="" required>
                                            <div class="valid-feedback">
                                                Precio de venta valido
                                            </div>
                                        	<div class="invalid-feedback">
                                        	 	Por favor ingrese un valor entero o decimal
                                               
                                            </div>
             						</div>
             						
                                </div>
                                    
                               <button class="btn btn-primary" type="submit">Registrar</button>
                          </form>
            
                               <script>
                                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                                    (function() {
                                        'use strict';
                                        window.addEventListener('load', function() {
                                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                            var forms = document.getElementsByClassName('needs-validation');
                                            // Loop over them and prevent submission
                                            var validation = Array.prototype.filter.call(forms, function(form) {
                                                form.addEventListener('submit', function(event) {
                                                    if (form.checkValidity() === false) {
                                                        event.preventDefault();
                                                        event.stopPropagation();
                                                    }
                                                    form.classList.add('was-validated');
                                                }, false);
                                            });
                                        }, false);
                                    })();
                                </script>
                            </div>
                        </div>
 </div>
	

</html>
