
<div th:fragment="javascripts">
	<script type="text/javascript"  th:src="@{/assets/scripts/plugins/jquery-3.4.1.min.js}"></script>
	<script type="text/javascript"  th:src="@{/assets/scripts/plugins/iziModal.min.js}"></script>
	<script type="text/javascript"  th:src="@{/assets/scripts/plugins/sweetalert.js}"></script>
	<script type="text/javascript" th:src="@{/assets/scripts/plugins/jquery.mask.js}"></script>
	<script type="text/javascript"  th:src="@{/assets/scripts/main.js}"></script>
	<script type="text/javascript" th:src="@{/assets/scripts/plugins/datatables.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/scripts/plugins/dataTables.select.min.js}"></script>
	<script type="text/javascript"  th:src="@{/assets/scripts/common/mensajes.js}"></script>
	
</div>




