<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::head">

</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div th:insert="fragments/header::menuUp"></div>


    <div class="app-main">
        <div class="app-sidebar sidebar-shadow">
            <div th:replace="fragments/logo::logo">
            </div>

            <div th:replace="fragments/logo::mobile-menu"></div>

            <div th:replace="fragments/logo::header-menu"></div>

            <div th:replace="fragments/contenido::contenido-menu"></div>


        </div>
        <div class="app-main__outer">
            <div th:replace="commons/formAltaPaciente::registroPaciente">

            </div>
        </div>
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    </div>
</div>
<script type="text/javascript" th:src="@{/assets/scripts/plugins/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/scripts/plugins/iziModal.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/scripts/main.js}"></script>
<script type="text/javascript" th:src="@{/assets/scripts/components/paciente.js}"></script>
</body>
</html>
